@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}
a {
    text-decoration: none;
}
.App {
    height: 100vh;
    border: 4px solid greenyellow;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: #F55A5A;
    color: #fff;
    padding: 1rem;
}

.nav-title{
    margin-left: 0.7rem;
    font-weight: 900;
    letter-spacing: 1px;
}